{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/react-tagsinput.css') }}">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{#    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>#}
    <script src="https://unpkg.com/react-autosuggest/dist/standalone/autosuggest.js"></script>
{#    <script src="{{ url_for('static', filename='js/react-tagsinput.js') }}"></script>#}
    <script defer src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="react-container"></div>
{% endblock %}
