{% extends 'layout.html' %}

{% block content %}
    <h1>{{ image.name }}</h1>
    <a href="{{ url_for('image_view', filename=image.filename) }}">
        <img style="max-height: 80vh;" class="img-fluid" src="{{ url_for('image_view', filename=image.filename) }}"
             alt="{{ image.name }}">
    </a>
    {% if image.description %}
        <div>{{ image.description }}</div>
    {% endif %}
    {% if image.location %}
        <div><b>Location: </b>{{ image.location.name }}</div>
    {% endif %}
    {% if image.tags %}
        <div><b>Tags: </b>{{ tags }}</div>
    {% endif %}
    <h3>Image information:</h3>
    {% if image.taken_time %}
        <div><b>Time Taken: </b>{{ image.taken_time.strftime('%d/%m/%y %H:%M:%S') }}</div>
    {% endif %}
    <div><b>Dimensions: </b>{{ image.width }} x {{ image.height }}</div>
    {% if image.exposure %}
        <div><b>Exposure: </b> {{ to_fraction(image.exposure) }}s</div>
    {% endif %}
    {% if image.focal_length %}
        <div><b>Focal Length: </b> {{ image.focal_length }}mm</div>
    {% endif %}
    {% if image.aperture %}
        <div><b>Aperture: </b> f/{{ image.aperture }}</div>
    {% endif %}
    {% if image.iso %}
        <div><b>ISO: </b> {{ image.iso }}</div>
    {% endif %}
    {% if current_user.can_edit %}
        <a href="{{ url_for('image_edit', filename=image.filename) }}">Edit image</a>
    {% endif %}
{% endblock %}